@page "/about"
<h1>About Yet Another Twitch Bot</h1>
<br />
Yet Another Twitch Bot is mutli-function Twitch Bot created by Mark E. Kraus.<br/>
<br />
<a href="https://compiled.social/markekraus" target="_new">Mark's Socials</a><br />
<a href="https://github.com/markekraus/YetAnotherTwitchBot">Source Code</a><br />
<a href="https://github.com/markekraus/YetAnotherTwitchBot/issues">Get Support</a><br />